@model ProyectoFinal.Web.ViewModels.PerfilViewModel

@{ ViewBag.Title = "Perfil"; }
<style>
    body {
        background-color: #f9f9fa;
    }
</style>

<h2>Perfil de usuario </h2>
<div class="py-3 container">
    <div class="d-flex justify-content-center">
        <div class="col-12 col-sm-4 me-3">
            <div class="bg-c-lite-green pt-3 pb-3 ">
                <div class="p-1 text-center text-white">
                    <span class="material-icons text-reset p-4 icon-big">account_circle</span>
                    <p class="fs-5 fw-bold">@Session["Username"]</p>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-8">
            <div class="p-3">
                <h5 class="mb-4 pb-1 border-bottom fw-bold">Información</h5>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="mb-2 fw-bolder">Nombres</p>
                        <h6 class="text-muted">@Html.DisplayFor(model => model.Usuario.Nombres)</h6>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-2 fw-bolder">Apellidos</p>
                        <h6 class="text-muted">@Html.DisplayFor(model => model.Usuario.Apellidos)</h6>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <p class="mb-2 fw-bolder">Correo</p>
                        <h6 class="text-muted">@Html.DisplayFor(model => model.Usuario.Correo)</h6>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-2 fw-bolder">Calificación</p>
                        <h6 class="text-muted">@String.Format("{0:f}/{1:f}", Model.Rating, 5)</h6>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="mt-3 d-flex justify-content-end">
        <button type="button" class="btn btn-outline-danger me-2" data-bs-toggle="modal" data-bs-target="#deleteModal">
            Eliminar
        </button>
        @Html.ActionLink("Editar", "Editar", "Usuario", null, new { @class = "btn btn-outline-primary" })
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link @(String.Compare(ViewBag.CurrentInfo, "PARTICIPACION") == 0 ? "active" : "")" href="@Url.Action("Perfil","Usuario", new { showInfo = "PARTICIPACION" })">Subastas que participó</a></li>
        <li class="nav-item"><a class="nav-link @(String.Compare(ViewBag.CurrentInfo, "GANADAS") == 0 ? "active" : "")" href="@Url.Action("Perfil","Usuario", new { showInfo = "GANADAS" })">Subastas ganadas</a></li>
    </ul>
    <table class="table table-striped mt-2">
        <thead class="bg-dark text-white">
            <tr>
                <th class="col-5">
                    Subasta
                </th>
                <th class="col-5">
                    Monto más alto ofertado
                </th>
                <th class="col-4">
                    Fecha de envió
                </th>
            </tr>
        </thead>

        <tbody>
            @if (Model.misSubastas.Count == 0)
            {
                <tr><td colspan="3">No se encontraron resultados</td></tr>
            }
            else
            {
                foreach (var info in @Model.misSubastas)
                {
                    <tr>
                        <td>
                            <a class="" href="@Url.Action("Details", "Subastas", new { id = info.Subasta.SubastaID })">
                                @Html.DisplayFor(modelItem => info.Subasta.NombreProducto)
                            </a>
                            
                        </td>
                        <td>
                            @string.Format("{0:C}", info.Monto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => info.FechaCreacion)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea eliminar su cuenta?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                @Html.ActionLink("Confirmar", "DeleteConfirmed", "Usuario", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>