@model ProyectoFinal.Web.ViewModels.PerfilVendedorViewModel


@{ ViewBag.Title = "Perfil del Vendedor"; }
<style>
    body {
        background-color: #f9f9fa;
    }
</style>
@*estrellas*@
<style>

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .stars input {
        display: none;
    }

    .stars label {
        float: right;
        font-size: 2.8rem;
        color: lightgrey;
        text-shadow: 1px 1px #bbb;
    }

        .stars label:before {
            content: '★';
        }

    .stars input:checked ~ label {
        color: gold;
        text-shadow: 1px 1px #c60;
    }

    .stars:not(:checked) > label:hover,
    .stars:not(:checked) > label:hover ~ label {
        color: gold;
    }

    .stars input:checked > label:hover,
    .stars input:checked > label:hover ~ label {
        color: gold;
        text-shadow: 1px 1px goldenrod;
    }
</style>

<h2>Perfil de usuario </h2>

<div class="py-3 container">

    <div class="d-flex justify-content-center">
        <div class="col-12 col-sm-4 me-3">
            <div class="bg-c-lite-green pt-3 pb-3 ">
                <div class="p-1 text-center text-white">
                    <span class="material-icons text-reset p-4 icon-big">account_circle</span>
                    <p class="fs-5 fw-bold">@Session["Username"]</p>
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.UsuarioCalificadoId)
                @Html.HiddenFor(model => model.AvgRating)
                <div class="d-flex flex-column justify-content-center align-center">
                    <div class="center">
                        <div class="stars">
                            @Html.RadioButtonFor(m => m.Rating, "5", new { @id = "five", @name = "rate" })
                            <label for="five"></label>
                            @Html.RadioButtonFor(m => m.Rating, "4", new { @id = "four", @name = "rate" })
                            <label for="four"></label>
                            @Html.RadioButtonFor(m => m.Rating, "3", new { @id = "three", @name = "rate" })
                            <label for="three"></label>
                            @Html.RadioButtonFor(m => m.Rating, "2", new { @id = "two", @name = "rate" })
                            <label for="two"></label>
                            @Html.RadioButtonFor(m => m.Rating, "1", new { @id = "one", @name = "rate" })
                            <label for="one"></label>
                        </div>
                    </div>
                    <input class="btn btn-outline-primary mt-3" type="submit" value="Enviar">
                </div>
            }
        </div>
        <div class="col-12 col-sm-8">
            <div class="p-3">
                <h5 class="mb-4 pb-1 border-bottom fw-bold">Información</h5>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="mb-2 fw-bolder">Nombres</p>
                        <h6 class="text-muted">@Html.DisplayFor(model => model.Usuario.Nombres)</h6>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-2 fw-bolder">Apellidos</p>
                        <h6 class="text-muted">@Html.DisplayFor(model => model.Usuario.Apellidos)</h6>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <p class="mb-2 fw-bolder">Correo</p>
                        <h6 class="text-muted">@Html.DisplayFor(model => model.Usuario.Correo)</h6>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-2 fw-bolder">Calificación</p>
                        <h6 class="text-muted">@Html.DisplayFor(model => model.AvgRating)</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea eliminar su cuenta?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                @Html.ActionLink("Confirmar", "DeleteConfirmed", "Usuario", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>
