@model ProyectoFinal.Web.Models.RatingUsuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RatingUsuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UsuarioCalificado.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioCalificado.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioCalificador.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioCalificador.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RatingUsuarioID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
