@model IEnumerable<ProyectoFinal.Web.Models.RatingUsuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioCalificado.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioCalificador.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioCalificado.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioCalificador.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RatingUsuarioID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RatingUsuarioID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RatingUsuarioID })
        </td>
    </tr>
}

</table>
