<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SmartSell</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/favicons/favicon.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
            <span class="d-flex align-items-center">
                <img class="" src="~/Content/Images/favicons/favicon-32x32.png" />
                @Html.ActionLink("SmartSell", "Index", "Home", new { area = "" }, new { @class = "navbar-brand mx-3" })
            </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">@Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Subastas", "Index", "Subastas", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Mis ofertas", "Index", "Ofertas", null, new { @class = "nav-link" })</li>
                </ul>
                @if (Session["Username"] != null)
                {
                    <a class="d-flex align-items-center text-decoration-none text-light mt-4 mb-3 my-lg-0 me-lg-4" href="@Url.Action("Perfil", "Usuario")">
                        <span class="material-icons text-reset fs-2 me-2">account_circle</span>
                        <span>@Session["Username"]</span>
                    </a>
                }
                @Html.ActionLink("Cerrar Sesión", "Logout", "Account", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </nav>
    <div class="container body-content mt-5">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SmartSell</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/img-box")
    @RenderSection("scripts", required: false)
    <script>
        $().ready(function () {
            let fullpath = document.location.pathname;
            let navElement = $(`a.nav-link[href='${fullpath}']`);
            if (navElement.length != 0) {
                navElement[0].classList.add("active");
            }
        });
    </script>
</body>
</html>
