@model ProyectoFinal.Web.ViewModels.ComentarioCreateViewModel

@{
    ViewBag.Title = "Crear Comentario";
}

<h2>Agregar comentario</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Subasta)
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Comentario,"Comentario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Comentario, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Comentario, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-outline-primary mt-3" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index","Subastas")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
