@model IEnumerable<ProyectoFinal.Web.Models.Comentario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subasta.NombreProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subasta.NombreProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ComentarioID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ComentarioID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ComentarioID })
        </td>
    </tr>
}

</table>
