@model ProyectoFinal.Web.ViewModels.UserCreateViewModel

@{
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
    ViewBag.Title = "Registro de usuario";
}
<div class="d-flex justify-content-center align-items-center w-100 min-vh-100 light-background p-4">
    <div class="col-12 col-md-8 col-lg-5 d-grid gap-2 p-4 my-4 mx-auto card">

        <div class="d-flex align-items-center flex-column">
            <img width="72" height="72" src="~/Content/Images/logo.png" />
            <h2 class="py-3">Registro de Usuario</h2>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="mb-3">
                @Html.LabelFor(model => model.Nombres, "Nombres", htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })

            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.Apellidos, "Apellidos", htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })

            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.Correo, "Correo", htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })

            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.Clave, "Contraseña", htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Clave, new { htmlAttributes = new { @class = "form-control", type = "Password" } })
                @Html.ValidationMessageFor(model => model.Clave, "", new { @class = "text-danger" })

            </div>
            <div class="d-flex justify-content-center pt-3">
                <button type="submit" class="btn btn-lg btn-primary w-100">Registrar</button>
            </div>
            @Html.ValidationMessage("generalError", new { @class = "text-danger" })
        }
    </div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
